* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: rgba(80, 2, 2, 0.767);
}

ul,
ol {
    list-style-type: none;
}

/*
.header {
    background-color: rgb(201, 197, 197);
    color: rgba(70, 3, 3, 0.904);
    font-family: 'Lora', serif;
    padding: 15px;

}

.header-h2 {
    color: rgba(11, 12, 9, 0.774);
    font-family: 'Amatic SC', cursive;
    font-weight: 300px;

}

.nav {
    background-color:rgb(201, 197, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 25px;

}


.main{
    background-color:rgb(201, 197, 197);
    
}

.image-index1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}

.image-index{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 620px;
    
    }


.footer {
    background-color: rgb(201, 197, 197);
    color: rgba(70, 3, 3, 0.904);
    padding: 20px;
    font-family: 'Playfair Display', serif;

}

.card-f {
    background-color:rgb(202, 196, 196);
    color: rgb(5, 5, 5);
    font-size: 1.3rem;
    display: inline-flex;
    padding: 5px;
    gap: 15px;

}

.card-i {
    background-color: rgb(202, 196, 196);
    color: rgb(5, 5, 5);
    font-size: 1.3rem;
    display:inline-flex;
    padding: 5px;
    gap: 15px;


}

.card-m {
    background-color:  rgb(202, 196, 196);
    color: rgb(5, 5, 5);
    font-size: 1.3rem;
    display: inline-flex;
    padding: 5px;
    gap: 15px;

}

.header-h3 {
    color:  rgba(56, 2, 2, 0.822);
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 1.2rem;
}


.main {
    background-color:rgb(201, 197, 197);
    height: 110vh;
}

.parrafo {
    font-weight: 600;
    font-size: 1rem;
    color: rgba(80, 2, 2, 0.767);
    font-family: 'Playfair Display', serif;
    background-color:  rgb(201, 197, 197);
    border: black;
    padding: 15px;
}

.formulario {
    color: rgba(22, 4, 4, 0.829);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    gap: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.button {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

*/
@media(min-width: 375px) {



    .header {
        background-color: rgb(201, 197, 197);
        color: rgba(70, 3, 3, 0.904);
        font-family: 'Lora', serif;
        text-align: center;
    }

    .header-h2 {
        background-color: rgb(201, 197, 197);
        color: rgba(11, 12, 9, 0.774);
        font-family: 'Amatic SC', cursive;
        font-weight: 300px;
        text-align: center;

    }

    .header-nav {
        background-color: rgb(201, 197, 197);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px;
        gap: 5px;
        text-align: center;
    }

    .main {
        background-color: rgb(201, 197, 197);

    }
    
    .galeria{
        display: flex;
        justify-content: center;
    }
    

    .galeria1 {

        padding: 15px;
        margin: 80px;
        }

    .galeria-servicio{
        margin: 130px 15px;
        
    }


    .footer {
        background-color: rgb(201, 197, 197);
        color: rgba(70, 3, 3, 0.904);
        padding: 20px;
        font-family: 'Playfair Display', serif;
        text-align: center;

    }

    .card-f {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;
        text-align: end;
    }

    .card-i {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;
        text-align: end;
    }

    .card-m {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;
        text-align: end;
    }

    .header-h3 {
        color: rgba(56, 2, 2, 0.822);
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        font-size: 1.2rem;
        text-align: center;
    }

    .main {
        background-color: rgb(201, 197, 197);
        height: 110vh;
    }

    .parrafo {
        font-weight: 600;
        font-size: 1rem;
        color: rgba(80, 2, 2, 0.767);
        font-family: 'Playfair Display', serif;
        background-color: rgb(201, 197, 197);
        border: black;
        padding: 15px;
    }


    .formulario {
        color: rgba(22, 4, 4, 0.829);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        gap: 10px;
        font-weight: bold;
        margin: 40px;
        align-items: center;

    }

    .button {
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




@media(min-width: 768px) {

    .header {
        background-color: rgb(201, 197, 197);
        color: rgba(70, 3, 3, 0.904);
        font-family: 'Lora', serif;
        padding: 15px;
    }

    .header-h2 {
        background-color: rgb(201, 197, 197);
        color: rgba(11, 12, 9, 0.774);
        font-family: 'Amatic SC', cursive;
        font-weight: 300px;
    }

    .nav {
        background-color: rgb(201, 197, 197);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px;
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    

    .main {
        background-color: rgb(201, 197, 197);

    }

    .galeria{
        display: flex;
        justify-content: center;
    }


    .galeria1 {

        padding: 15px;
        margin: 80px;
        }

    .galeria-servicio{
        margin: 130px 15px;
        
    }

    .footer {
        background-color: rgb(201, 197, 197);
        color: rgba(70, 3, 3, 0.904);
        padding: 20px;
        font-family: 'Playfair Display', serif;

    }

    .card-f {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;

    }

    .card-i {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;


    }

    .card-m {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;

    }

    .header-h3 {
        color: rgba(56, 2, 2, 0.822);
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        font-size: 1.2rem;
    }


    .main {
        background-color: rgb(201, 197, 197);
        height: 110vh;
    }

    .parrafo {
        font-weight: 600;
        font-size: 1rem;
        color: rgba(80, 2, 2, 0.767);
        font-family: 'Playfair Display', serif;
        background-color: rgb(201, 197, 197);
        border: black;
        padding: 15px;
        text-align: center;
    }

    .formulario {
        color: rgba(22, 4, 4, 0.829);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        gap: 10px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
    }

    .button {
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

}



@media(min-width: 1200px) {

    .header {
        background-color: rgb(201, 197, 197);
        color: rgba(70, 3, 3, 0.904);
        font-family: 'Lora', serif;
        padding: 15px;
        display: flex;
        justify-content: left;


    }

    .header-h2 {
        background-color: rgb(201, 197, 197);
        color: rgba(11, 12, 9, 0.774);
        padding: 15px;
        font-family: 'Amatic SC', cursive;
        display: flex;
        justify-content: left;

    }

    .nav {
        background-color: rgb(201, 197, 197);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 5px;
        display: flex;
        justify-content: center;
        gap: 25px;

    }


    .main {
        background-color: rgb(201, 197, 197);

    }


    .galeria{
        display: flex;
        justify-content: center;
    }


    .galeria1 {

        padding: 15px;
        margin: 80px;
        }

    .galeria-servicio{
        margin: 130px 15px;
        
    }

    .footer {
        background-color: rgb(201, 197, 197);
        color: rgba(70, 3, 3, 0.904);
        padding: 20px;
        font-family: 'Playfair Display', serif;

    }

    .card-f {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;

    }

    .card-i {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;


    }

    .card-m {
        background-color: rgb(202, 196, 196);
        color: rgb(5, 5, 5);
        font-size: 1.3rem;
        display: inline-flex;
        padding: 5px;
        gap: 15px;

    }

    .header-h3 {
        color: rgba(56, 2, 2, 0.822);
        font-family: 'Montserrat', sans-serif;
        padding: 10px;
        font-size: 1.2rem;
    }


    .main {
        background-color: rgb(201, 197, 197);
        height: 110vh;
    }

    .parrafo {
        font-weight: 600;
        font-size: 1rem;
        color: rgba(80, 2, 2, 0.767);
        font-family: 'Playfair Display', serif;
        background-color: rgb(201, 197, 197);
        border: black;
        padding: 15px;
        text-align: center;
    }

    .formulario {
        color: rgba(22, 4, 4, 0.829);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding: 20px;
        gap: 10px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
    }

    .button {
        
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}