* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: rgba(80, 2, 2, 0.767);
}

ul,
ol {
    list-style-type: none;
}


$color-principal: rgb(201, 197, 197);
$color-secundario: rgba(70, 3, 3, 0.904);
$fuente-principal: 'Lora', serif;
$color-de-tarjetas: rgb(5, 5, 5);